* {
    margin: 0;
    padding: 0;

}
#grid-container {
    display: grid;
}

#header {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
    min-height: 10vh;
    align-items: center;
    justify-items: center;
}
#content {
display: grid;
grid-template-columns: 1fr 1fr;
min-height: 85vh;
align-items: center;
justify-items: center;
}

#footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    min-height: 10vh;
    align-items: center;
    justify-items: center;
}